.card {
  text-align: left;
}

.card h3 {
  margin-top: 5px;
}

.card h5 {
  margin-bottom: 15px;
}

.card img {
  width: 90%;
}

.book-detail-buttons {
  display: flex;
  justify-content: center;
}

.book-detail-buttons .btn {
  margin-left: 5px;
  margin-right: 5px;
}

