.books {
  text-align: left;
  padding-top: 10px;
}

.books .book {
  margin-bottom: 40px;
}

.books .book h4 {
  margin-top: 0;
}

.books .book a {
  color: black;
}

.books .book a:hover {
  text-decoration: underline;
}

.books h2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
